$color__background-body: #f2f2f2;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e74c3c;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #888;
$color__bg-input: #ececec;

$color__text-input-focus: #111;
$color__link: #000; //black
$color__link-visited: #800080; //purple
$color__link-hover: gray; //gray
$color__text-main: #404040;

$color__border-button: #e74c3c #d84435 #e74c3c;
$color__border-button-hover: #e74c3c #d84435 #e74c3c;
$color__border-button-focus: #e74c3c #d84435 #e74c3c;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__border-sections: $color__background-body;
$color__1: #ff9b00;
$color__2: #fafafa;