ul.products {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

	li.product {
		list-style: none;
		position: relative;
		margin-bottom: 2em;

		img {
			display: block;
		}

		.button {
			display: block;
		}
	}
}

@media screen and (min-width: 48em) {

	ul.products {

		li.product {

			@include column-width(3);
		}
	}

	@for $i from 2 through 6 {

		ul.products.columns-#{$i} {

			li.product {

				@include column-width( $i );
			}

		}
	}
}


.product{
	.onsale{
		background: red;
		color: white;
		font-weight: bold;
		padding: 24px 4px;
		line-height: 0;
		position: absolute;
		border-radius: 380px;
		left: 5px;
		top: 5px;
		z-index: 10;
	}
}

.lmh-woocommerce-gallery{
	position: relative;
}