input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	/*border: 1px solid $color__border-input;*/
	/*border-radius: 3px;*/
	/*padding: 3px;*/

	border:0; outline:0;
	padding: 10px;
	border-radius: 8px;
	display: block;
	width: 100%;
	margin-top: 1em;
	//font-family: 'Merriweather', sans-serif;
	box-shadow: (0 1px 1px rgba(black, 0.1));
	resize: none;
	background-color: $color__bg-input;

	&:focus {
		color: $color__text-input-focus;
		box-shadow: 0 0px 2px rgba(#e74c3c, 1)!important;
	}
}

select {
	border: 1px solid $color__border-input;
	&:hover {
       box-shadow: 0 1px 1px 1px rgba(#aaa, 0.6); 
    }
}

textarea {
	width: 100%;
	max-height: 100px;
}