.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;

		&.right{
			justify-content: flex-end;
		}
		&.left{
			justify-content: flex-end;
		}
		&.center{
			justify-content: center;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
				
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}

		@media screen and (min-width: 670px){
			justify-content: flex-end;
		}
		@media screen and (max-width: 670px){
			@include padding-left-right;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
			color: $color__1;
		}
	}

	a {
		font-size: 1.1rem;
		display: block;
		text-decoration: none;
		padding: 5px;
		margin-right: 20px;
		color: #888;

		@media (max-width: 670px){
			font-size: 1.3rem;
			padding: 12px;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		font-weight: bold;
		color: $color__1;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		@include padding-left-right;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
