.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}

	ul{
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			a{
				display: inline-block;
				//@padding-top-bottom();

				&:hover{
					color: gray;
				}
			}

			&:not(.recentcomments) > a{
				width: 100%;
				padding: 10px;
				text-decoration: none;
				margin-bottom: 5px;
				border-radius: 6px;
				
				&:hover{
					background: #eee;
				}
			}
		}
	}
}

.widget_search{
	.search-form{ 
		label{
			display: block;
			position: relative;

			&:after{
				content: "\ed11";
				font-family: 'IcoFont' !important;
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				white-space: nowrap;
				word-wrap: normal;
				direction: ltr;
				line-height: 1;
				/* Better Font Rendering =========== */
				-webkit-font-feature-settings: "liga";
				-webkit-font-smoothing: antialiased;

				position: absolute;
				top: 13px;
				right: 10px;
				font-size: 22px;
				color: white;
				pointer-events: none;
			}

			.search-field::focus + &::after{
				color: #e74c3c;
			}
		}
	}
	.search-submit{
		display: none;
	}
}