.comments-area{

	.comments-title,
	.comment-list .comment,
	.comment-respond{
		@include padding-left-right;
	}

	.comment-reply-title{
		display: flex;
		justify-content: space-between;
	}

	.comment-awaiting-moderation{
		background-color: wheat;
	}

	.comment-list{
		list-style: none;
		padding: 0;
		margin: 0;
		
		.comment.parent{
			padding-bottom: 0;
		}

		.children{
			list-style: none;
			padding: 0;
			margin-left: -15px;
			margin-right: -15px;

			.comment{
				border-top: 10px solid #f2f2f2;
				margin-left: 0px;
				margin-right: 0px;
				border-left: 20px solid #f2f2f2;
			}

			.comment-respond{
				border-top: 10px solid #f2f2f2;
				margin-left: -15px;
				margin-right: -15px;
			}
		}
	}
	a#cancel-comment-reply-link,
	a.comment-reply-link{
		@include buttons__1;
	}
}

.comment-body{
	.comment-author{
		display: flex;
		align-items: center;

		.says,.fn{
			margin-left: 10px;
		}
	}
	.reply{
		padding-bottom: 10px;
	}
}
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
