// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin padding-top-bottom{
	padding-top: $size__padding;
	padding-bottom: $size__padding;
}

@mixin padding-left-right{
	padding-left: $size__padding;
	padding-right: $size__padding;
}

@mixin borders{
	border-left: 10px solid $color__border-sections;
	border-right: 3px solid $color__border-sections;
	border-bottom: 10px solid $color__border-sections;
}

@mixin buttons__1{
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(255,255,255,.8);
	line-height: 1;
	padding: 10px;
	cursor: pointer;
	transition: .25s all ease-in;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}