.container{
	width: 100%;
	box-sizing: border-box;

	.container-wrap{
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	.container-wrap-full{
		display: flex;
		box-sizing: border-box;
		width: 100%;
	}
}