/*!
Theme Name: LMH new
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: lmh-new
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

LMH new is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*//*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}*,*::before,*::after{box-sizing:inherit}html{box-sizing:border-box}body,button,input,select,optgroup,textarea{color:#404040;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;font-size:1rem;line-height:1.5}h1,h2,h3,h4,h5,h6{clear:both}p{margin-bottom:1.5em}dfn,cite,em,i{font-style:italic}blockquote{background:rgba(0,0,0,0.12);margin:0;padding:5px 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",courier,monospace;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:monaco,consolas,"Andale Mono","DejaVu Sans Mono",monospace}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:125%}body{background:#f2f2f2}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ul,ol{margin:0 0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}embed,iframe,object{max-width:100%}img{height:auto;max-width:100%}figure{margin:1em 0}table{margin:0 0 1.5em;width:100%}a{color:#000;text-decoration:none;transition:.25s all ease-in}a:hover,a:focus,a:active{color:gray}a:focus{outline:thin dotted}a:hover,a:active{outline:0}button,input[type="button"],input[type="reset"],input[type="submit"]{border:1px solid;border-color:#e74c3c #d84435 #e74c3c;border-radius:3px;background:#e74c3c;color:rgba(255,255,255,0.8);line-height:1;padding:10px;cursor:pointer;transition:.25s all ease-in}button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{border-color:#e74c3c #d84435 #e74c3c}button:active,button:focus,input[type="button"]:active,input[type="button"]:focus,input[type="reset"]:active,input[type="reset"]:focus,input[type="submit"]:active,input[type="submit"]:focus{border-color:#e74c3c #d84435 #e74c3c}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{color:#888;border:0;outline:0;padding:10px;border-radius:8px;display:block;width:100%;margin-top:1em;box-shadow:0 1px 1px rgba(0,0,0,0.1);resize:none;background-color:#ececec}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus{color:#111;box-shadow:0 0px 2px #e74c3c !important}select{border:1px solid #ccc}select:hover{box-shadow:0 1px 1px 1px rgba(170,170,170,0.6)}textarea{width:100%;max-height:100px}.container{width:100%;box-sizing:border-box}.container .container-wrap{display:flex;flex-wrap:wrap;box-sizing:border-box;width:100%;max-width:1200px;margin:0 auto}.container .container-wrap-full{display:flex;box-sizing:border-box;width:100%}.show-hide-sidebar{cursor:pointer}.site-header{border-bottom:1px solid #e7e7e7;position:relative;background-color:white}.site-header .container-wrap{justify-content:space-between;align-items:center}.site-header .site-title{margin:0;font-size:28px;font-weight:300}.site-header .site-title a{color:#ff9b00}.site-header p.site-description{position:absolute;top:0;left:0;clip:rect(0 0 0 0)}.site-header .header-icon{display:inline-block;font-size:30px;padding-right:15px;cursor:pointer;color:#ff9b00}.site-header .main-navigation .main-navigation__bottom{display:none;position:absolute;left:0;width:100%;z-index:10;background:#f1f1f1;top:100%}.site-header .main-navigation .main-navigation__bottom.active{display:block}.site-header .main-navigation .main-navigation__bottom .search-field{border-radius:0;padding:0;font-size:25px;margin:0 auto}.site-header .main-navigation .main-navigation__bottom .search-input{padding:25px 0 !important;margin:0 !important;font-size:25px}.main-navigation__bottom .search-field{position:relative;max-width:1200px}.main-navigation__bottom .search-field:after{content:"\ed11";font-family:'IcoFont' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;white-space:nowrap;word-wrap:normal;direction:ltr;line-height:1;-webkit-font-feature-settings:"liga";-webkit-font-smoothing:antialiased;position:absolute;font-size:35px;color:white;pointer-events:none;top:28px !important;right:15px !important}.main-navigation__bottom .search-form label{background-color:#ececec;box-shadow:0 1px 1px rgba(0,0,0,0.1)}.main-navigation__bottom .search-form label input{box-shadow:none !important}.main-navigation__bottom .search-form label input:focus{box-shadow:none !important}.main-navigation__bottom .search-form>label::after{top:18px !important;right:15px !important;display:none;content:" ";margin:0 auto}@media screen and (min-width: 670px){.site-header .container-wrap{flex-wrap:nowrap}.site-header .site-branding{width:20%;order:1}.site-header .main-navigation{width:80%;order:2}.site-header .icon-bar{display:none}.site-header .header-icons{order:3}}@media screen and (max-width: 670px){.site-header .site-branding{order:1;width:auto;flex-grow:1}.site-header .header-icons{order:2}.site-header .main-navigation{order:3;width:100%}.site-header .main-navigation .main-navigation__top{background-color:rgba(0,0,0,0.05)}}.menu-slider-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.menu-slider-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}.menu-slider-wrapper .menu-item{transform:translate3d(0px, 0, 0);flex-shrink:0;width:auto;position:relative;transition-property:transform}.menu-slider-wrapper .menu-item:nth-child(1){padding-right:15px}.menu-slider-controls .menu-slider-button-prev,.menu-slider-controls .menu-slider-button-next{cursor:pointer;font-size:35px;z-index:2;line-height:0;height:100%;display:flex;align-items:center;background-color:#efefef;transition:.5s;position:absolute;top:0}.menu-slider-controls .menu-slider-button-prev.swiper-button-disabled,.menu-slider-controls .menu-slider-button-next.swiper-button-disabled{left:0;width:10px;overflow:hidden;opacity:0;pointer-events:none}.menu-slider-controls .menu-slider-button-next{right:0}.menu-slider-controls .menu-slider-button-prev{left:0}.sidebar .sidebar__inner .sidebar__close{background:#fafafa;color:black;padding:10px;position:absolute;z-index:99;font-size:2em;right:-52px;top:0;cursor:pointer;display:none}.widget-area .widget-title{text-align:center;text-transform:uppercase;padding:6px 0;font-weight:400;font-size:13px}@media screen and (max-width: 670px){#sidebar{position:static;z-index:99}#sidebar .sidebar{left:-500px !important;width:350px;transition:.3s left ease-in-out}#sidebar .inner-wrapper-sticky{left:-500px !important;z-index:99;transition:.3s left ease-in-out;box-shadow:rgba(0,0,0,0.2) 4px 4px 8px;position:relative}#sidebar .sidebar__inner{background-color:#fafafa}#sidebar.active{display:block}#sidebar.active .sidebar,#sidebar.active .inner-wrapper-sticky{left:0px !important}#sidebar.active .sidebar__close{display:block !important}#sidebar:not(.active) .sidebar{position:relative}}@media screen and (max-width: 410px){#sidebar .sidebar{width:250px}}.site-main .post-excpt:hover{background-color:rgba(0,0,0,0.03)}.site-main .post,.site-main .page,.site-main .product,.site-main .post-navigation,.site-main .comments-area .comments-title,.site-main .comments-area .comment-list .comment,.site-main .comments-area .comment-respond{background-color:#ffffff;padding-top:15px;padding-bottom:15px;margin-left:10px;margin-top:10px;margin-right:10px;margin-bottom:10px}.site-main .page-header .page-title{margin:0;display:flex;align-items:center;font-size:15px;padding-left:15px;font-weight:300;background-color:#f2f2f2}.site-main .page-header .page-title span{display:inline-block;padding:15px;width:100%;margin-left:15px;font-weight:400;background-color:#f2f2f2}.site-main .post,.site-main .page,.site-main .product{position:relative}.site-main .post .entry-header,.site-main .post .entry-content,.site-main .post .entry-footer,.site-main .page .entry-header,.site-main .page .entry-content,.site-main .page .entry-footer,.site-main .product .entry-header,.site-main .product .entry-content,.site-main .product .entry-footer{padding-left:15px;padding-right:15px}.site-main .post .entry-footer,.site-main .page .entry-footer,.site-main .product .entry-footer{display:inline-block;width:100%}.site-main .post .post-thumbnail,.site-main .page .post-thumbnail,.site-main .product .post-thumbnail{text-align:center}.post-excpt{transition:.2s all}.post-excpt .entry-header{margin-left:-15px;display:inline-block;width:50%}.post-excpt .entry-header .entry-title{font-size:1.2em}.post-excpt .post-thumbnail{display:block;width:50%;float:left;padding-right:15px;margin-top:-15px}.post-excpt .post-thumbnail img{width:100%}.post-excpt:nth-child(1){display:flex;flex-direction:column;border-top:10px solid #f2f2f2}.post-excpt:nth-child(1) .post-thumbnail{order:1;width:100%;padding:0}.post-excpt:nth-child(1) .entry-header{order:2}.post-excpt:nth-child(1) .entry-content{order:3}.post-excpt:nth-child(1) .entry-footer{order:4}.post-excpt:nth-child(1) .entry-header{width:100%;margin-left:0}.post-excpt .entry-meta .entry-date{position:absolute;left:0;top:0;font-size:12px;text-align:center;width:52px;height:52px;border-left:1px solid #e7e7e7;border-bottom:5px solid #e7e7e7;background-color:#f4f4f4;box-shadow:1px 1px 2px rgba(0,0,0,0.13);color:gray}.post-excpt .entry-meta .entry-date span{display:block}.post-excpt .entry-meta .entry-date span:nth-child(1){background-color:#ff9b00;font-weight:400;color:white}.post-excpt .entry-meta .entry-date span:nth-child(2){font-size:18px}.post .entry-header .entry-title{padding:0;margin:0;font-weight:300;letter-spacing:-0.2px}.post .cat-links{font-weight:bold}.post .tags-links{display:block}.post .tags-links a{display:inline-block;background-color:rgba(131,131,131,0.2);color:white;padding:1px 6px 4px;border-radius:8px;font-weight:300;font-size:13px}.post .tags-links a:hover{background:#e74c3c;border-color:#e74c3c #d84435 #e74c3c}.post .edit-link{display:none}.post .entry-meta{padding-top:1.2em}.entry-meta .comments-link{padding-left:15px}#main-body{font-family:"Lato",sans-serif}#main-body #sidebar{background:#fafafa}#main-body #main-footer .footer__inner,#main-body .sidebar .sidebar__inner{font-size:16px;line-height:18px;color:#7e90a0;padding-top:15px;padding-bottom:15px;padding-left:15px;padding-right:15px}@media screen and (min-width: 1024px){.container-wrap #sidebar{width:20%}.container-wrap .site-main{width:50%}.container-wrap #main-footer{width:30%}}@media screen and (max-width: 1024px){.container-wrap #sidebar{width:25%}.container-wrap .site-main{width:50%}.container-wrap #main-footer{width:25%}}@media screen and (max-width: 785px){.container-wrap #sidebar{width:30%}.container-wrap .site-main{width:70%}.container-wrap #main-footer{display:none;width:30%}}@media screen and (max-width: 670px){.container-wrap #sidebar{width:0.1%}.container-wrap .site-main{width:99%}.container-wrap #main-footer{display:none;width:30%}}@media screen and (min-width: 1024px){.container-wrap-full #sidebar{width:25%;flex-grow:1}.container-wrap-full #sidebar .inner-wrapper-sticky{margin-left:3px}.container-wrap-full #sidebar .sidebar__inner{max-width:240px;margin:0 0 0 auto}.container-wrap-full .site-main{max-width:600px;width:50%;flex-grow:1}.container-wrap-full #main-footer{width:35%;flex-grow:1}.container-wrap-full #main-footer .footer__inner{max-width:360px;margin:0 auto 0 0}}@media screen and (max-width: 1024px){.container-wrap-full #sidebar{width:25%}.container-wrap-full .site-main{max-width:600px;width:50%}.container-wrap-full #main-footer{width:25%}}@media screen and (max-width: 785px){.container-wrap-full #sidebar{width:30%}.container-wrap-full .site-main{width:70%;max-width:unset}.container-wrap-full #main-footer{display:none;width:30%}}@media screen and (max-width: 670px){.container-wrap-full #sidebar{width:0.1%}.container-wrap-full .site-main{width:99%}.container-wrap-full #main-footer{display:none;width:30%}}.main-navigation{display:block;width:100%}.main-navigation ul{display:flex;list-style:none;margin:0;padding-left:0}.main-navigation ul.right{justify-content:flex-end}.main-navigation ul.left{justify-content:flex-end}.main-navigation ul.center{justify-content:center}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,0.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li:hover>ul,.main-navigation ul ul li.focus>ul{display:block;left:auto}.main-navigation ul ul a{width:200px}.main-navigation ul li:hover>ul,.main-navigation ul li.focus>ul{left:auto}@media screen and (min-width: 670px){.main-navigation ul{justify-content:flex-end}}@media screen and (max-width: 670px){.main-navigation ul{padding-left:15px;padding-right:15px}}.main-navigation li{position:relative}.main-navigation li:hover>a,.main-navigation li.focus>a{color:#ff9b00}.main-navigation a{font-size:1.1rem;display:block;text-decoration:none;padding:5px;margin-right:20px;color:#888}@media (max-width: 670px){.main-navigation a{font-size:1.3rem;padding:12px}}.main-navigation .current_page_item>a,.main-navigation .current-menu-item>a,.main-navigation .current_page_ancestor>a,.main-navigation .current-menu-ancestor>a{font-weight:bold;color:#ff9b00}.menu-toggle,.main-navigation.toggled ul{display:block}.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{padding-left:15px;padding-right:15px}.comment-navigation .nav-links,.posts-navigation .nav-links,.post-navigation .nav-links{display:flex}.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{flex:1 0 50%}.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{text-align:end;flex:1 0 50%}.comments-area .comments-title,.comments-area .comment-list .comment,.comments-area .comment-respond{padding-left:15px;padding-right:15px}.comments-area .comment-reply-title{display:flex;justify-content:space-between}.comments-area .comment-awaiting-moderation{background-color:wheat}.comments-area .comment-list{list-style:none;padding:0;margin:0}.comments-area .comment-list .comment.parent{padding-bottom:0}.comments-area .comment-list .children{list-style:none;padding:0;margin-left:-15px;margin-right:-15px}.comments-area .comment-list .children .comment{border-top:10px solid #f2f2f2;margin-left:0px;margin-right:0px;border-left:20px solid #f2f2f2}.comments-area .comment-list .children .comment-respond{border-top:10px solid #f2f2f2;margin-left:-15px;margin-right:-15px}.comments-area a#cancel-comment-reply-link,.comments-area a.comment-reply-link{border:1px solid;border-color:#e74c3c #d84435 #e74c3c;border-radius:3px;background:#e74c3c;color:rgba(255,255,255,0.8);line-height:1;padding:10px;cursor:pointer;transition:.25s all ease-in}.comments-area a#cancel-comment-reply-link:hover,.comments-area a.comment-reply-link:hover{border-color:#e74c3c #d84435 #e74c3c}.comments-area a#cancel-comment-reply-link:active,.comments-area a#cancel-comment-reply-link:focus,.comments-area a.comment-reply-link:active,.comments-area a.comment-reply-link:focus{border-color:#e74c3c #d84435 #e74c3c}.comment-body .comment-author{display:flex;align-items:center}.comment-body .comment-author .says,.comment-body .comment-author .fn{margin-left:10px}.comment-body .reply{padding-bottom:10px}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.widget{margin:0 0 1.5em}.widget select{max-width:100%}.widget ul{list-style:none;margin:0;padding:0}.widget ul li a{display:inline-block}.widget ul li a:hover{color:gray}.widget ul li:not(.recentcomments)>a{width:100%;padding:10px;text-decoration:none;margin-bottom:5px;border-radius:6px}.widget ul li:not(.recentcomments)>a:hover{background:#eee}.widget_search .search-form label,.main-navigation__bottom .search-form label{display:block;position:relative}.widget_search .search-form label:after,.main-navigation__bottom .search-form label:after{content:"\ed11";font-family:'IcoFont' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;white-space:nowrap;word-wrap:normal;direction:ltr;line-height:1;-webkit-font-feature-settings:"liga";-webkit-font-smoothing:antialiased;position:absolute;top:13px;right:10px;font-size:22px;color:white;pointer-events:none}.search-field::focus+.widget_search .search-form label::after,.search-field::focus+.main-navigation__bottom .search-form label::after{color:#e74c3c}.widget_search .search-submit,.main-navigation__bottom .search-submit{display:none}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:0.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em;display:grid;grid-gap:1.5em}.gallery-item{display:inline-block;text-align:center;width:100%}.gallery-columns-2{grid-template-columns:repeat(2, 1fr)}.gallery-columns-3{grid-template-columns:repeat(3, 1fr)}.gallery-columns-4{grid-template-columns:repeat(4, 1fr)}.gallery-columns-5{grid-template-columns:repeat(5, 1fr)}.gallery-columns-6{grid-template-columns:repeat(6, 1fr)}.gallery-columns-7{grid-template-columns:repeat(7, 1fr)}.gallery-columns-8{grid-template-columns:repeat(8, 1fr)}.gallery-columns-9{grid-template-columns:repeat(9, 1fr)}.gallery-caption{display:block}#share-buttons a{display:inline-block;width:32px}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.screen-reader-text{border:0;clip:rect(1px, 1px, 1px, 1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;clip-path:none;color:#21759b;display:block;font-size:0.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#primary[tabindex="-1"]:focus{outline:0}.alignleft{float:left;margin-right:1.5em;margin-bottom:1.5em}.alignright{float:right;margin-left:1.5em;margin-bottom:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;margin-bottom:1.5em}.align-baseline{vertical-align:baseline !important}.align-top{vertical-align:top !important}.align-middle{vertical-align:middle !important}.align-bottom{vertical-align:bottom !important}.align-text-bottom{vertical-align:text-bottom !important}.align-text-top{vertical-align:text-top !important}.d-none{display:none !important}.d-inline{display:inline !important}.d-inline-block{display:inline-block !important}.d-block{display:block !important}.d-table{display:table !important}.d-table-row{display:table-row !important}.d-table-cell{display:table-cell !important}.d-flex{display:flex !important}.d-inline-flex{display:inline-flex !important}@media (min-width: 576px){.d-sm-none{display:none !important}.d-sm-inline{display:inline !important}.d-sm-inline-block{display:inline-block !important}.d-sm-block{display:block !important}.d-sm-table{display:table !important}.d-sm-table-row{display:table-row !important}.d-sm-table-cell{display:table-cell !important}.d-sm-flex{display:flex !important}.d-sm-inline-flex{display:inline-flex !important}}@media (min-width: 768px){.d-md-none{display:none !important}.d-md-inline{display:inline !important}.d-md-inline-block{display:inline-block !important}.d-md-block{display:block !important}.d-md-table{display:table !important}.d-md-table-row{display:table-row !important}.d-md-table-cell{display:table-cell !important}.d-md-flex{display:flex !important}.d-md-inline-flex{display:inline-flex !important}}@media (min-width: 992px){.d-lg-none{display:none !important}.d-lg-inline{display:inline !important}.d-lg-inline-block{display:inline-block !important}.d-lg-block{display:block !important}.d-lg-table{display:table !important}.d-lg-table-row{display:table-row !important}.d-lg-table-cell{display:table-cell !important}.d-lg-flex{display:flex !important}.d-lg-inline-flex{display:inline-flex !important}}@media (min-width: 1200px){.d-xl-none{display:none !important}.d-xl-inline{display:inline !important}.d-xl-inline-block{display:inline-block !important}.d-xl-block{display:block !important}.d-xl-table{display:table !important}.d-xl-table-row{display:table-row !important}.d-xl-table-cell{display:table-cell !important}.d-xl-flex{display:flex !important}.d-xl-inline-flex{display:inline-flex !important}}@media print{.d-print-none{display:none !important}.d-print-inline{display:inline !important}.d-print-inline-block{display:inline-block !important}.d-print-block{display:block !important}.d-print-table{display:table !important}.d-print-table-row{display:table-row !important}.d-print-table-cell{display:table-cell !important}.d-print-flex{display:flex !important}.d-print-inline-flex{display:inline-flex !important}}.embed-responsive{position:relative;display:block;width:100%;padding:0;overflow:hidden}.embed-responsive::before{display:block;content:""}.embed-responsive .embed-responsive-item,.embed-responsive iframe,.embed-responsive embed,.embed-responsive object,.embed-responsive video{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}.embed-responsive-21by9::before{padding-top:42.8571428571%}.embed-responsive-16by9::before{padding-top:56.25%}.embed-responsive-4by3::before{padding-top:75%}.embed-responsive-1by1::before{padding-top:100%}.flex-row{flex-direction:row !important}.flex-column{flex-direction:column !important}.flex-row-reverse{flex-direction:row-reverse !important}.flex-column-reverse{flex-direction:column-reverse !important}.flex-wrap{flex-wrap:wrap !important}.flex-nowrap{flex-wrap:nowrap !important}.flex-wrap-reverse{flex-wrap:wrap-reverse !important}.flex-fill{flex:1 1 auto !important}.flex-grow-0{flex-grow:0 !important}.flex-grow-1{flex-grow:1 !important}.flex-shrink-0{flex-shrink:0 !important}.flex-shrink-1{flex-shrink:1 !important}.justify-content-start{justify-content:flex-start !important}.justify-content-end{justify-content:flex-end !important}.justify-content-center{justify-content:center !important}.justify-content-between{justify-content:space-between !important}.justify-content-around{justify-content:space-around !important}.align-items-start{align-items:flex-start !important}.align-items-end{align-items:flex-end !important}.align-items-center{align-items:center !important}.align-items-baseline{align-items:baseline !important}.align-items-stretch{align-items:stretch !important}.align-content-start{align-content:flex-start !important}.align-content-end{align-content:flex-end !important}.align-content-center{align-content:center !important}.align-content-between{align-content:space-between !important}.align-content-around{align-content:space-around !important}.align-content-stretch{align-content:stretch !important}.align-self-auto{align-self:auto !important}.align-self-start{align-self:flex-start !important}.align-self-end{align-self:flex-end !important}.align-self-center{align-self:center !important}.align-self-baseline{align-self:baseline !important}.align-self-stretch{align-self:stretch !important}@media (min-width: 576px){.flex-sm-row{flex-direction:row !important}.flex-sm-column{flex-direction:column !important}.flex-sm-row-reverse{flex-direction:row-reverse !important}.flex-sm-column-reverse{flex-direction:column-reverse !important}.flex-sm-wrap{flex-wrap:wrap !important}.flex-sm-nowrap{flex-wrap:nowrap !important}.flex-sm-wrap-reverse{flex-wrap:wrap-reverse !important}.flex-sm-fill{flex:1 1 auto !important}.flex-sm-grow-0{flex-grow:0 !important}.flex-sm-grow-1{flex-grow:1 !important}.flex-sm-shrink-0{flex-shrink:0 !important}.flex-sm-shrink-1{flex-shrink:1 !important}.justify-content-sm-start{justify-content:flex-start !important}.justify-content-sm-end{justify-content:flex-end !important}.justify-content-sm-center{justify-content:center !important}.justify-content-sm-between{justify-content:space-between !important}.justify-content-sm-around{justify-content:space-around !important}.align-items-sm-start{align-items:flex-start !important}.align-items-sm-end{align-items:flex-end !important}.align-items-sm-center{align-items:center !important}.align-items-sm-baseline{align-items:baseline !important}.align-items-sm-stretch{align-items:stretch !important}.align-content-sm-start{align-content:flex-start !important}.align-content-sm-end{align-content:flex-end !important}.align-content-sm-center{align-content:center !important}.align-content-sm-between{align-content:space-between !important}.align-content-sm-around{align-content:space-around !important}.align-content-sm-stretch{align-content:stretch !important}.align-self-sm-auto{align-self:auto !important}.align-self-sm-start{align-self:flex-start !important}.align-self-sm-end{align-self:flex-end !important}.align-self-sm-center{align-self:center !important}.align-self-sm-baseline{align-self:baseline !important}.align-self-sm-stretch{align-self:stretch !important}}@media (min-width: 768px){.flex-md-row{flex-direction:row !important}.flex-md-column{flex-direction:column !important}.flex-md-row-reverse{flex-direction:row-reverse !important}.flex-md-column-reverse{flex-direction:column-reverse !important}.flex-md-wrap{flex-wrap:wrap !important}.flex-md-nowrap{flex-wrap:nowrap !important}.flex-md-wrap-reverse{flex-wrap:wrap-reverse !important}.flex-md-fill{flex:1 1 auto !important}.flex-md-grow-0{flex-grow:0 !important}.flex-md-grow-1{flex-grow:1 !important}.flex-md-shrink-0{flex-shrink:0 !important}.flex-md-shrink-1{flex-shrink:1 !important}.justify-content-md-start{justify-content:flex-start !important}.justify-content-md-end{justify-content:flex-end !important}.justify-content-md-center{justify-content:center !important}.justify-content-md-between{justify-content:space-between !important}.justify-content-md-around{justify-content:space-around !important}.align-items-md-start{align-items:flex-start !important}.align-items-md-end{align-items:flex-end !important}.align-items-md-center{align-items:center !important}.align-items-md-baseline{align-items:baseline !important}.align-items-md-stretch{align-items:stretch !important}.align-content-md-start{align-content:flex-start !important}.align-content-md-end{align-content:flex-end !important}.align-content-md-center{align-content:center !important}.align-content-md-between{align-content:space-between !important}.align-content-md-around{align-content:space-around !important}.align-content-md-stretch{align-content:stretch !important}.align-self-md-auto{align-self:auto !important}.align-self-md-start{align-self:flex-start !important}.align-self-md-end{align-self:flex-end !important}.align-self-md-center{align-self:center !important}.align-self-md-baseline{align-self:baseline !important}.align-self-md-stretch{align-self:stretch !important}}@media (min-width: 992px){.flex-lg-row{flex-direction:row !important}.flex-lg-column{flex-direction:column !important}.flex-lg-row-reverse{flex-direction:row-reverse !important}.flex-lg-column-reverse{flex-direction:column-reverse !important}.flex-lg-wrap{flex-wrap:wrap !important}.flex-lg-nowrap{flex-wrap:nowrap !important}.flex-lg-wrap-reverse{flex-wrap:wrap-reverse !important}.flex-lg-fill{flex:1 1 auto !important}.flex-lg-grow-0{flex-grow:0 !important}.flex-lg-grow-1{flex-grow:1 !important}.flex-lg-shrink-0{flex-shrink:0 !important}.flex-lg-shrink-1{flex-shrink:1 !important}.justify-content-lg-start{justify-content:flex-start !important}.justify-content-lg-end{justify-content:flex-end !important}.justify-content-lg-center{justify-content:center !important}.justify-content-lg-between{justify-content:space-between !important}.justify-content-lg-around{justify-content:space-around !important}.align-items-lg-start{align-items:flex-start !important}.align-items-lg-end{align-items:flex-end !important}.align-items-lg-center{align-items:center !important}.align-items-lg-baseline{align-items:baseline !important}.align-items-lg-stretch{align-items:stretch !important}.align-content-lg-start{align-content:flex-start !important}.align-content-lg-end{align-content:flex-end !important}.align-content-lg-center{align-content:center !important}.align-content-lg-between{align-content:space-between !important}.align-content-lg-around{align-content:space-around !important}.align-content-lg-stretch{align-content:stretch !important}.align-self-lg-auto{align-self:auto !important}.align-self-lg-start{align-self:flex-start !important}.align-self-lg-end{align-self:flex-end !important}.align-self-lg-center{align-self:center !important}.align-self-lg-baseline{align-self:baseline !important}.align-self-lg-stretch{align-self:stretch !important}}@media (min-width: 1200px){.flex-xl-row{flex-direction:row !important}.flex-xl-column{flex-direction:column !important}.flex-xl-row-reverse{flex-direction:row-reverse !important}.flex-xl-column-reverse{flex-direction:column-reverse !important}.flex-xl-wrap{flex-wrap:wrap !important}.flex-xl-nowrap{flex-wrap:nowrap !important}.flex-xl-wrap-reverse{flex-wrap:wrap-reverse !important}.flex-xl-fill{flex:1 1 auto !important}.flex-xl-grow-0{flex-grow:0 !important}.flex-xl-grow-1{flex-grow:1 !important}.flex-xl-shrink-0{flex-shrink:0 !important}.flex-xl-shrink-1{flex-shrink:1 !important}.justify-content-xl-start{justify-content:flex-start !important}.justify-content-xl-end{justify-content:flex-end !important}.justify-content-xl-center{justify-content:center !important}.justify-content-xl-between{justify-content:space-between !important}.justify-content-xl-around{justify-content:space-around !important}.align-items-xl-start{align-items:flex-start !important}.align-items-xl-end{align-items:flex-end !important}.align-items-xl-center{align-items:center !important}.align-items-xl-baseline{align-items:baseline !important}.align-items-xl-stretch{align-items:stretch !important}.align-content-xl-start{align-content:flex-start !important}.align-content-xl-end{align-content:flex-end !important}.align-content-xl-center{align-content:center !important}.align-content-xl-between{align-content:space-between !important}.align-content-xl-around{align-content:space-around !important}.align-content-xl-stretch{align-content:stretch !important}.align-self-xl-auto{align-self:auto !important}.align-self-xl-start{align-self:flex-start !important}.align-self-xl-end{align-self:flex-end !important}.align-self-xl-center{align-self:center !important}.align-self-xl-baseline{align-self:baseline !important}.align-self-xl-stretch{align-self:stretch !important}}.float-left{float:left !important}.float-right{float:right !important}.float-none{float:none !important}@media (min-width: 576px){.float-sm-left{float:left !important}.float-sm-right{float:right !important}.float-sm-none{float:none !important}}@media (min-width: 768px){.float-md-left{float:left !important}.float-md-right{float:right !important}.float-md-none{float:none !important}}@media (min-width: 992px){.float-lg-left{float:left !important}.float-lg-right{float:right !important}.float-lg-none{float:none !important}}@media (min-width: 1200px){.float-xl-left{float:left !important}.float-xl-right{float:right !important}.float-xl-none{float:none !important}}.sr-only{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;overflow:visible;clip:auto;white-space:normal}.text-monospace{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}.text-justify{text-align:justify !important}.text-nowrap{white-space:nowrap !important}.text-truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.text-left{text-align:left !important}.text-right{text-align:right !important}.text-center{text-align:center !important}@media (min-width: 576px){.text-sm-left{text-align:left !important}.text-sm-right{text-align:right !important}.text-sm-center{text-align:center !important}}@media (min-width: 768px){.text-md-left{text-align:left !important}.text-md-right{text-align:right !important}.text-md-center{text-align:center !important}}@media (min-width: 992px){.text-lg-left{text-align:left !important}.text-lg-right{text-align:right !important}.text-lg-center{text-align:center !important}}@media (min-width: 1200px){.text-xl-left{text-align:left !important}.text-xl-right{text-align:right !important}.text-xl-center{text-align:center !important}}.text-lowercase{text-transform:lowercase !important}.text-uppercase{text-transform:uppercase !important}.text-capitalize{text-transform:capitalize !important}.font-weight-light{font-weight:300 !important}.font-weight-normal{font-weight:400 !important}.font-weight-bold{font-weight:700 !important}.font-italic{font-style:italic !important}.text-white{color:#fff !important}.text-primary{color:#007bff !important}a.text-primary:hover,a.text-primary:focus{color:#0062cc !important}.text-secondary{color:#6c757d !important}a.text-secondary:hover,a.text-secondary:focus{color:#545b62 !important}.text-success{color:#28a745 !important}a.text-success:hover,a.text-success:focus{color:#1e7e34 !important}.text-info{color:#17a2b8 !important}a.text-info:hover,a.text-info:focus{color:#117a8b !important}.text-warning{color:#ffc107 !important}a.text-warning:hover,a.text-warning:focus{color:#d39e00 !important}.text-danger{color:#dc3545 !important}a.text-danger:hover,a.text-danger:focus{color:#bd2130 !important}.text-light{color:#f8f9fa !important}a.text-light:hover,a.text-light:focus{color:#dae0e5 !important}.text-dark{color:#343a40 !important}a.text-dark:hover,a.text-dark:focus{color:#1d2124 !important}.text-body{color:#212529 !important}.text-muted{color:#6c757d !important}.text-black-50{color:rgba(0,0,0,0.5) !important}.text-white-50{color:rgba(255,255,255,0.5) !important}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.visible{visibility:visible !important}.invisible{visibility:hidden !important}
/*# sourceMappingURL=styles.css.map */
