/*
 * Site Header and navigation
 */
@import 'parts/header';

/*
 * Sidebar
 *	Sibar Elements and sticky sidebar
 */
@import 'parts/sidebar';

/*
 * Main Content
 */
@import 'parts/content';

/*
 * Main body and Responsive parts
 */
#main-body{
	font-family: $font1;

	#sidebar{
		background: $color__2;
	}
	
	#main-footer .footer__inner, 
	.sidebar .sidebar__inner{
		font-size: 16px;
		line-height: 18px;
		color: #7e90a0;
		@include padding-top-bottom;
		@include padding-left-right;
	}
}


.container-wrap{
	/*
	 * main layout responsive 
	 */
	@media screen and (min-width: 1024px){
		#sidebar{
			width: 20%;
		}
		.site-main{
			width: 50%;
		}
		#main-footer{
			width: 30%;
		}
	}

	@media screen and (max-width: 1024px){
		#sidebar{
			width: 25%;
		}
		.site-main{
			width: 50%;
		}
		#main-footer{
			width: 25%;
		}
	}

	@media screen and (max-width: 785px){
		#sidebar{
			width: 30%;
		}
		.site-main{
			width: 70%;
		}
		#main-footer{
			display: none;
			width: 30%;
		}
	}

	@media screen and (max-width: 670px){
		#sidebar{
			width: 0.1%;
		}
		.site-main{
			width: 99%;
		}
		#main-footer{
			display: none;
			width: 30%;
		}
	}
}

.container-wrap-full{
	/*
	 * main layout responsive 
	 */
	@media screen and (min-width: 1024px){
		#sidebar{
			width: 25%;
			flex-grow: 1;

			.inner-wrapper-sticky{
				margin-left: 3px;
			}

			.sidebar__inner{
				max-width: 240px;
				margin: 0 0 0 auto;
			}
		}

		.site-main{
			max-width: 600px;
			width: 50%;
			flex-grow: 1;
		}

		#main-footer{
			width: 35%;
			flex-grow: 1;

			.footer__inner {
				max-width: 360px;
				margin: 0 auto 0 0;
			}
		}
	}

	@media screen and (max-width: 1024px){
		#sidebar{
			width: 25%;
		}
		.site-main{
			max-width: 600px;
			width: 50%;
		}
		#main-footer{
			width: 25%;
		}
	}

	@media screen and (max-width: 785px){
		#sidebar{
			width: 30%;
		}
		.site-main{
			width: 70%;
			max-width: unset;
		}
		#main-footer{
			display: none;
			width: 30%;
		}
	}

	@media screen and (max-width: 670px){
		#sidebar{
			width: 0.1%;
		}
		.site-main{
			width: 99%;
		}
		#main-footer{
			display: none;
			width: 30%;
		}
	}
}