.site-main {
	

	.post-excpt:hover{
		background-color: rgba(0,0,0,.03);
	}

	.post,
	.page,
	.product,
	.post-navigation,
	.comments-area .comments-title,
	.comments-area .comment-list .comment,
	.comments-area .comment-respond
	{
		background-color: #ffffff;
		@include padding-top-bottom;
		//@include borders;
		margin-left: 10px;
		margin-top: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.page-header{

		.page-title{
			margin: 0;
			display: flex;
			align-items: center;
			font-size: 15px;
			padding-left: 15px;
			font-weight: 300;
			background-color: $color__border-sections;

			span{
				display: inline-block;
				padding: 15px;
				width: 100%;
				margin-left: 15px;
				font-weight: 400;
				background-color: $color__background-body;
			}
		}
	}

	.post, .page, .product{
		position: relative;
		
		.entry-header, .entry-content, .entry-footer{
			@include padding-left-right;
		}

		.entry-footer{
			display: inline-block;
			width: 100%;
		}

		.post-thumbnail{
			text-align: center;
		}
	}
}

.post-excpt{
	transition: .2s all;

	.entry-header{
		margin-left: -15px;
		display: inline-block;
		width: 50%;

		.entry-title{
			font-size: 1.2em;
		}
	}

	.post-thumbnail{
		display: block;
		width: 50%;
		float: left;
		padding-right: 15px;
		margin-top: -15px;

		img{
			width: 100%;
		}
	}

	&:nth-child(1){
		display: flex;
		flex-direction: column;
		border-top: 10px solid $color__border-sections;

		.post-thumbnail{ order: 1; 
			width: 100%; padding: 0;}
		.entry-header{ order: 2; }
		.entry-content{ order: 3; }
		.entry-footer{ order: 4; }

		.entry-header{
			width: 100%;
			margin-left: 0;
		}
	}

	.entry-meta .entry-date{
		position: absolute;
		left: 0;
		top: 0;
		font-size: 12px;
		text-align: center;
		width: 52px;
		height: 52px;
		border-left: 1px solid #e7e7e7;
		border-bottom: 5px solid #e7e7e7;
		background-color: #f4f4f4;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13);
		color: gray;

		span{
			display: block;

			&:nth-child(1){
				background-color: $color__1; //#e74c3c
				font-weight: 400;
				color: white;
			}
			&:nth-child(2){
				font-size: 18px;
			}
		}
	}
}

.post {
	.entry-header .entry-title{
		padding: 0;
		margin: 0;
		font-weight: 300;
		letter-spacing: -0.2px;
	}

	.cat-links{
		font-weight: bold;
	}

	.tags-links{
		display: block;
		
		a {
			display: inline-block;
			background-color: rgba(131, 131, 131, 0.2);
			color: white;
			padding: 1px 6px 4px;
			border-radius: 8px;
			font-weight: 300;
			font-size: 13px;

			&:hover{ 
				background: $color__background-button;
				border-color: $color__border-button-hover;
			}
		}
	}

	.edit-link{
		display: none;
	}

	.entry-meta {
		padding-top: 1.2em;
	}
}

.entry-meta{
	.comments-link{
		padding-left: 15px;
	}
}

// colours