.site-header{
	border-bottom: 1px solid #e7e7e7;
	position: relative;
	background-color: white;

	.container-wrap{
		justify-content: space-between;
		align-items: center;
	}
	.site-title{
		margin: 0;
		font-size: 28px;
		font-weight: 300;

		a{
			color: $color__1;
		}
	}
	p.site-description{
		position: absolute;
		top: 0;
		left: 0;
		clip: rect(0 0 0 0);
	}
	.header-icon{
		display: inline-block;
		font-size: 30px;
		padding-right: 15px;
		cursor: pointer;
		color: $color__1;
	}

	.main-navigation{

		.main-navigation__bottom{
			display: none;
			position: absolute;
			left: 0;
			width: 100%;
			z-index: 10;
			background: #f1f1f1;
			top: 100%;
			
			&.active{
				display: block;
			}

			.search-field{
				border-radius: 0;
				padding: 0;
				font-size: 25px;
				margin: 0 auto;
			}
			.search-input{
				padding: 25px 0 !important;
				margin: 0 !important;
				font-size: 25px;
			}
		}
	}
}

.main-navigation__bottom{
	@extend .widget_search;

	.search-field{
		position: relative;
		max-width: 1200px;

		&:after{
			content: "\ed11";
			font-family: 'IcoFont' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			white-space: nowrap;
			word-wrap: normal;
			direction: ltr;
			line-height: 1;
			/* Better Font Rendering =========== */
			-webkit-font-feature-settings: "liga";
			-webkit-font-smoothing: antialiased;
			position: absolute;
			font-size: 35px;
			color: white;
			pointer-events: none;
			top: 28px!important;
			right: 15px!important;
		}
	}

	.search-form label{
		background-color: $color__bg-input;
		box-shadow: (0 1px 1px rgba(black, 0.1));

		input{
			box-shadow: none!important;

			&:focus{
				box-shadow: none!important;
			}
		}
	}

	.search-form > label::after{
		top: 18px!important;
		right: 15px!important;
		display: none;
		content: " ";
		margin: 0 auto;
		
	}
}

@media screen and (min-width: 670px){
	.site-header{
		.container-wrap{
			flex-wrap: nowrap;
		} 
		.site-branding{
			width: 20%;
			order: 1;
		}
		.main-navigation{
			width: 80%;
			order: 2;
		}
		.icon-bar{
			display: none;
		}

		.header-icons{
			order: 3;
		}
	}
}

@media screen and (max-width: 670px){
	.site-header{
		.site-branding{
			order: 1;
			width: auto;
			flex-grow: 1;
		}
		.header-icons{
			order: 2;
		}
		.main-navigation{
			order: 3;
			width: 100%;

			.main-navigation__top{
				background-color: rgba(0,0,0,.05);
			}
		}
	}
}

/*
 * Menu slider
 */
.menu-slider-container{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}

.menu-slider-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;

	.menu-item {
		transform: translate3d(0px, 0, 0);
		flex-shrink: 0;
		width: auto;
		position: relative;
		transition-property: transform;

		&:nth-child(1){
			padding-right: 15px;
		}
	}
}
 
.menu-slider-controls{
	.menu-slider-button-prev,
	.menu-slider-button-next{
		cursor: pointer;
		font-size: 35px;
		z-index: 2;
		line-height: 0;
		height: 100%;
		display: flex;
		align-items: center;
		background-color: #efefef;
		transition: .5s;
		//@include buttons__1;
		position: absolute;
		top: 0;
		
		&.swiper-button-disabled{
			left: 0;
			width: 10px;
			overflow: hidden;
			opacity: 0;
			pointer-events: none;
		}
	}

	.menu-slider-button-next{
		right: 0;
	}

	.menu-slider-button-prev{
		left: 0;
	}
}