.sidebar .sidebar__inner{
	.sidebar__close{
		background: $color__2;
		color: black;
		padding: 10px;
		position: absolute;
		z-index: 99;
		font-size: 2em;
		right: -52px;
		top: 0;
		cursor: pointer;
		display: none;
	}

	/*a{
		color: white;

		&:hover{
			background: #6a6c75;
		}
	}*/
}

.widget-area{

	.widget-title{
		text-align: center;
		text-transform: uppercase;
		padding: 6px 0;
		font-weight: 400;
		font-size: 13px;
	}
}

@media screen and (max-width: 670px){
	#sidebar{
		position: static;
		z-index: 99;

		.sidebar{
			left: -500px!important;
			width: 350px;
			transition: .3s left ease-in-out;
		}

		.inner-wrapper-sticky{
			left: -500px!important;
			z-index: 99;
			transition: .3s left ease-in-out;
			box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 8px;
			position: relative;
		}
		.sidebar__inner{
			background-color: $color__2;
		}
		
		&.active{
			display: block;

			.sidebar, .inner-wrapper-sticky{
				left: 0px!important;
			}
			.sidebar__close{
				display: block!important;
			}
		}
		&:not(.active){
			.sidebar{
				position: relative;
			}	
		}
	}
}
@media screen and (max-width: 410px){
	#sidebar{
		.sidebar{
			width: 250px;
		}
	}
}